@import '../../assets/mixin.scss';

.home-wrap {
  width: 100vw;
  box-sizing: border-box;
  .banner {
    width: 100%;
    .banner-list {
      li {
        width: 100%;
        height: rem(360);
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding: rem(12) rem(20);
    background-color: #fff;
    .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: rem(142);
      height: rem(152);
      img {
        width: rem(72);
        height: rem(72);
      }
      p {
        margin: 0;
        padding: 0;
        padding-top: rem(12);
        font-size: rem(28);
        color: #333;
      }
    }
  }

  .goods {
    margin-top: rem(20);
    background-color: #fff;
    .goods-title {
      height: rem(140);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        font-size: rem(36);
        font-weight: bold;
        .goods-img {
          width: rem(82);
          height: rem(22);
        }
        .goods-img-left {
          transform: rotate(180deg);
        }
        span {
          display: inline-block;
          padding: 0 rem(17);
        }
        &.title-orange span {
          display: inline-block;
          background: linear-gradient(to right, #F99D2F, #F26315);
          -webkit-background-clip: text;
          color: transparent;
        }
        &.title-blue span {
          background: linear-gradient(to right, #57D8FD, #2CAFF9);
          -webkit-background-clip: text;
          color: transparent;
        }
        &.title-red span {
          background: linear-gradient(to right, #FF538A, #FF2952);
          -webkit-background-clip: text;
          color: transparent;
        }
      }
      .sub-title {
        font-size: rem(22);
        color: #999;
      }
    }
  }
  .goods-featured {
    .goods-featured-list {
      padding-bottom: rem(32);
      zoom: 1;
      &:after{
        content: '';
        clear: both;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
      }
      li {
        float: left;
        margin-right: rem(20);
        width: rem(280);
        height: rem(394);
        border-radius: rem(12);
        overflow: hidden;
        &:first-child {
          margin-left: rem(30);
        }
        .featured-img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(276);
          height: rem(276);
          img {
            width: 60%;
          }
        }
        .featured-info {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0 rem(20);
          height: rem(118);
          color: #fff;
          .title {
            padding-bottom: rem(10);
            font-size: rem(26);
          }
          .price {
            position: relative;
            font-size: rem(32);
            line-height: rem(36);
            padding-left: rem(35);
            &::before {
              content: '￥';
              position: absolute;
              left: 0;
              bottom: 0;
              font-size: rem(24);
            }
          }
        }
        &.featured-orange {
          border: rem(2) solid #ff9759;
          .featured-img {
            background-color: #fff7f0;
          }
          .featured-info {
            background-color: #ff9759;
          }
        }
        &.featured-blue {
          border: rem(2) solid #4fbefa;
          .featured-img {
            background-color: #eef9fe;
          }
          .featured-info {
            background-color: #4fbefa;
          }
        }
        &.featured-red {
          border: rem(2) solid #ff5780;
          .featured-img {
            background-color: #ffeff3;
          }
          .featured-info {
            background-color: #ff5780;
          }
        }
      }
    }
  }
  .goods-news {
    .goods-news-list {
      display: flex;
      border-top: rem(1) solid #ececec;
      .news-left {
        flex: 1;
        height: rem(440);
        text-align: center;
        border-right: rem(1) solid #ececec;
        img {
          padding-top: rem(32);
          padding-bottom: rem(20);
          width: rem(220);
          height: rem(220);
        }
        .news-info {
          text-align: left;
          padding: 0 rem(30);
          .title {
            font-size: rem(26);
            line-height: rem(36);
            color: #333;
          }
          .sub-title {
            padding-top: rem(6);
            line-height: rem(28);
            font-size: rem(24);
            color: #999;
          }
          .price {
            position: relative;
            padding-top: rem(10);
            padding-left: rem(30);
            line-height: rem(36);
            font-size: rem(32);
            color: #F03C3C;
            &::before {
              content: '￥';
              position: absolute;
              left: 0;
              bottom: 0;
              font-size: rem(24);
            }
          }
        }
      }
      .news-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .news-right-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: rem(220);
          box-sizing: border-box;
          &:first-child {
            border-bottom: rem(1) solid #ececec;
          }
          img {
            padding: 0 rem(20);
            width: rem(100);
            height: rem(100);
          }
          .right-item-info {
            flex: 1;
            .title {
              font-size: rem(26);
              line-height: rem(36);
              color: #333;
            }
            .sub-title {
              padding-top: rem(6);
              line-height: rem(28);
              font-size: rem(24);
              color: #999;
            }
            .price {
              position: relative;
              padding-top: rem(10);
              padding-left: rem(30);
              line-height: rem(36);
              font-size: rem(32);
              color: #F03C3C;
              &::before {
                content: '￥';
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: rem(24);
              }
            }
          }
        }
      }
    }
  }
  .goods-image {
    padding-top: rem(20);
    width: 100vw;
    height: rem(297);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .goods-recommend {
    padding: 0 rem(30) rem(30);
    .goods-recommend-list {
      display: flex;
      flex-wrap: wrap;
      border-bottom: rem(1) solid #ececec;
      .recommend-item {
        width: rem(345);
        height: rem(510);
        border-left: rem(1) solid #ececec;
        border-top: rem(1) solid #ececec;
        box-sizing: border-box;
        &:nth-child(2n) {
          border-right: rem(1) solid #ececec;
        }
        .recommend-img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: rem(345);
          img {
            width: 70%;
          }
        }
        .recommend-info {
          padding: 0 rem(20);
          height: rem(164);
          .title {
            padding-top: rem(13);
            font-size: rem(28);
            color: #333;
          }
          .sub-title {
            padding-top: rem(8);
            line-height: rem(26);
            font-size: rem(22);
            color: #999;
          }
          .price {
            position: relative;
            padding-top: rem(18);
            padding-left: rem(30);
            font-size: rem(36);
            line-height: rem(42);
            color: #F03C3C;
            &::before {
              content: '￥';
              position: absolute;
              left: 0;
              bottom: 0;
              font-size: rem(28);
            }
          }
        }
      }
    }
  }
}